@using Modix.Data.Models;
@using Modix.Data.Models.Core;
@using Modix.Data.Models.Moderation;
@using Modix.Services.Moderation;
@using Modix.Web.Models;
@using Modix.Web.Services;
@using MudBlazor;
@using System.Security.Claims;

<PageTitle>Modix - Infractions</PageTitle>

<CascadingAuthenticationState>

    <MudDialog @bind-IsVisible="_createDialogVisible" Options="new DialogOptions { FullWidth= true }">
        <TitleContent>
            <MudText Typo="Typo.h5">Create Infraction</MudText>
        </TitleContent>
        <DialogContent>
            <UserSearchAutoComplete SelectedUserChanged="SelectedUserChanged" Title="Subject" />
            <MudText Typo="Typo.h5" Style="margin-top: 1rem">Infraction</MudText>
            <div class="d-flex" style="column-gap: 1rem">
                <div style="max-width: 6rem">
                    <MudSelect FullWidth="false" Required="true" @bind-Value="_infractionType">
                        <AuthorizeView Policy="@nameof(AuthorizationClaim.ModerationNote)">
                            <MudSelectItem Value="@InfractionType.Notice"/>
                        </AuthorizeView>
                        <AuthorizeView Policy="@nameof(AuthorizationClaim.ModerationWarn)">
                            <MudSelectItem Value="@InfractionType.Warning"/>
                        </AuthorizeView>
                        <AuthorizeView Policy="@nameof(AuthorizationClaim.ModerationMute)">
                            <MudSelectItem Value="@InfractionType.Mute"/>
                        </AuthorizeView>
                        <AuthorizeView Policy="@nameof(AuthorizationClaim.ModerationBan)">
                            <MudSelectItem Value="@InfractionType.Ban"/>
                        </AuthorizeView>
                    </MudSelect>
                </div>
                <MudTextField
                    @bind-Value="_infractionReason"
                    MaxLength="1000"
                    Required="true"
                    Label="Reason"
                    Placeholder="Give a reason for the infraction..."
                    Immediate="true"/>
            </div>

                @if(_infractionType == InfractionType.Mute)
                {
                    <MudText Typo="Typo.h5" Style="margin-top: 1rem">Duration</MudText>
                    <div class="d-flex" style="column-gap: 1rem">
                        <MudTextField Label="Months" Placeholder="Months" @bind-Value="_newInfractionMonths"/>
                        <MudTextField Label="Days" Placeholder="Days" @bind-Value="_newInfractionDays"/>
                        <MudTextField Label="Hours" Placeholder="Hours" @bind-Value="_newInfractionHours"/>
                        <MudTextField Label="Minutes" Placeholder="Minutes" @bind-Value="_newInfractionMinutes"/>
                        <MudTextField Label="Seconds" Placeholder="Seconds" @bind-Value="_newInfractionSeconds"/>
                    </div>
                }
        </DialogContent>
        <DialogActions>
            <div style="justify-content: left; flex-grow: 1;">
                <MudButton
                    Variant="Variant.Filled"
                    Disabled="@(_selectedUser is null || string.IsNullOrWhiteSpace(_infractionReason))"
                    Color="Color.Success"
                    OnClick="SaveInfraction">Save</MudButton>
            </div>
            <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ToggleDialog">Cancel</MudButton>
        </DialogActions>
    </MudDialog>

    <MudContainer MaxWidth="MaxWidth.False">
        <MudTable @ref="@TableRef" SortLabel="Sort By" Bordered="true" ServerData="LoadInfractions">
            <ToolBarContent>
                <div class="d-flex" style="align-items: center; flex-grow: 1">
                    <div class="d-flex" style="flex-grow: 1; column-gap: .33rem">
                        <MudButton Variant="Variant.Filled" OnClick="ToggleDialog" StartIcon="@Icons.Material.Filled.Create" Color="Color.Primary">Create</MudButton>
                        <MudButton Variant="Variant.Filled" OnClick="Refresh" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary">Refresh</MudButton>
                    </div>
                    <div class="d-flex">
                        <MudCheckBox @bind-Checked="_showState" Label="Show State" Color="Color.Primary"/>
                        <MudCheckBox CheckedChanged="(bool value) => FilterChanged(() => _tableFilter.ShowDeleted = value)" Label="Show Deleted" Color="Color.Primary"/>
                    </div>
                </div>
            </ToolBarContent>
            <HeaderContent>
                <MudTh Style="text-align:center">
                    <MudTableSortLabel T="InfractionData" SortBy="x => x.Id">Id</MudTableSortLabel>
                    <MudTextField DebounceInterval="1000" ValueChanged="(string? id) => FilterChanged(() => _tableFilter.Id = id)" Placeholder="Filter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </MudTh>
                <MudTh Style="text-align:center">
                    <MudTableSortLabel T="InfractionData" SortBy="x => x.Type">Type</MudTableSortLabel>
                    <MudSelect Clearable="true" SelectedValuesChanged="(IEnumerable<InfractionType> values) => FilterChanged(() => _tableFilter.Type = values.Any() ? values.First() : null)">
                        @foreach(var infractionType in Enum.GetValues<InfractionType>())
                        {
                            <MudSelectItem Value="@infractionType"></MudSelectItem>
                        }
                    </MudSelect>
                </MudTh>
                <MudTh Style="text-align:center"><MudTableSortLabel T="InfractionData" SortBy="x => x.CreateAction.Created">Created On</MudTableSortLabel></MudTh>
                <MudTh Style="text-align:center">
                    <MudTableSortLabel T="InfractionData" SortBy="x => x.Subject.Username">Subject</MudTableSortLabel>
                    <MudTextField DebounceInterval="1000" ValueChanged="(string? subject) => FilterChanged(() => _tableFilter.Subject = subject)" Placeholder="Filter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </MudTh>
                <MudTh Style="text-align:center">
                    <MudTableSortLabel T="InfractionData" SortBy="x => x.CreateAction.CreatedBy.Username">Creator</MudTableSortLabel>
                    <MudTextField DebounceInterval="1000" ValueChanged="(string? creator) => FilterChanged(() => _tableFilter.Creator = creator)" Placeholder="Filter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </MudTh>
                <MudTh Style="text-align:center">Reason</MudTh>
                @if(_showState)
                {
                    <MudTh Style="text-align:center">State</MudTh>
                }
                @if (_canDeleteInfractions || _canRescind)
                {
                    <MudTh Style="text-align:center">Actions</MudTh>
                }
            </HeaderContent>
            <RowTemplate Context="infraction">
                <MudTd DataLabel="Id">@infraction.Id</MudTd>
                <MudTd DataLabel="Type">@infraction.Type</MudTd>
                <MudTd DataLabel="Created On">@infraction.CreateAction.Created.ToString("dd/MM/yy, h:MM:ss tt")</MudTd>
                <MudTd DataLabel="Subject">@(GetUsername(infraction.Subject))</MudTd>
                <MudTd DataLabel="Creator">@(GetUsername(infraction.CreateAction.CreatedBy))</MudTd>
                <MudTd DataLabel="Reason">@infraction.Reason</MudTd>
                @if (_showState)
                {
                    <MudTd DataLabel="State">@(infraction.RescindAction != null ? "Rescinded" : infraction.DeleteAction != null ? "Deleted" : "Active")</MudTd>
                }
                @if(_canDeleteInfractions || _canRescind)
                {
                    <MudTd DataLabel="Actions">
                        <div class="d-inline-flex" style="column-gap: .33rem">
                            @if (infraction.CanBeDeleted)
                            {
                                <MudButton Variant="Variant.Filled" OnClick="() => DeleteInfraction(infraction)" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Primary">Delete</MudButton>
                            }
                            @if (infraction.CanBeRescind)
                            {
                                <MudButton Variant="Variant.Filled" OnClick="() => RescindInfraction(infraction)" StartIcon="@Icons.Material.Filled.Stop" Color="Color.Primary">Rescind</MudButton>
                            }
                        </div>
                    </MudTd>
                }
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new [] { 10, 20, 30, 40, 50, int.MaxValue }"></MudTablePager>
            </PagerContent>
        </MudTable>
    </MudContainer>
</CascadingAuthenticationState>
@code {

    [Inject]
    public IModerationService ModerationService { get; set; } = null!;

    [Inject]
    public DiscordUserService DiscordUserService { get; set; } = null!;

    [Inject]
    public ISnackbar Snackbar { get; set; } = null!;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    [Inject]
    public IDialogService DialogService { get; set; } = null!;

    private MudTable<InfractionData> TableRef;

    private bool _showState;

    private HashSet<InfractionData> _selectedInfractions;
    private bool _canRescind;
    private bool _canDeleteInfractions;

    private ModixUser? _selectedUser;
    private InfractionType _infractionType = InfractionType.Notice;
    private string? _infractionReason;
    private bool _createDialogVisible;
    private int? _newInfractionMonths;
    private int? _newInfractionDays;
    private int? _newInfractionHours;
    private int? _newInfractionMinutes;
    private int? _newInfractionSeconds;

    private class TableFilter
    {
        public string? Id { get; set; }
        public InfractionType? Type { get; set; }
        public string? Subject { get; set; }
        public string? Creator { get; set; }
        public bool ShowDeleted { get; set; }
    }
    TableFilter _tableFilter = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        if (AuthState is null)
            return;

        var auth = await AuthState;
        _canRescind = auth.User.HasClaim(ClaimTypes.Role, nameof(AuthorizationClaim.ModerationRescind));
        _canDeleteInfractions = auth.User.HasClaim(ClaimTypes.Role, nameof(AuthorizationClaim.ModerationDeleteInfraction));
    }

    private void ToggleDialog()
    {
        _createDialogVisible = !_createDialogVisible;
    }

    private void SelectedUserChanged(ModixUser user)
    {
        _selectedUser = user;
    }

    private async Task FilterChanged(Action filterSetter)
    {
        filterSetter();
        await TableRef.ReloadServerData();
    }

    private static string GetUsername(GuildUserBrief userBrief)
    {
        return $"{userBrief.Username}{(userBrief.Discriminator == "0000" ? "" : "#" + userBrief.Discriminator)}";
    }

    private async Task RescindInfraction(InfractionData infraction)
    {
        try
        {
            var dialogParams = new DialogParameters
            {
                { nameof(ConfirmationDialog.Content), $"Are you sure you want to rescind infraction #{infraction.Id}?"}
            };

            var dialog = DialogService.Show<ConfirmationDialog>("", dialogParams);
            var result = await dialog.Result;

            if (result.Canceled)
            {
                Snackbar.Add("Action was cancelled", Severity.Info);
                return;
            }

            await ModerationService.RescindInfractionAsync(infraction.Id);
            await Refresh();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task DeleteInfraction(InfractionData infraction)
    {
        try
        {
            var dialogParams = new DialogParameters
            {
                { nameof(ConfirmationDialog.Content), $"Are you sure you want to delete infraction #{infraction.Id}?"}
            };

            var dialog = DialogService.Show<ConfirmationDialog>("", dialogParams);
            var result = await dialog.Result;

            if (result.Canceled)
            {
                Snackbar.Add("Action was cancelled", Severity.Info);
                return;
            }

            await ModerationService.DeleteInfractionAsync(infraction.Id);
            await Refresh();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task SaveInfraction()
    {
        _createDialogVisible = false;

        var duration = GetTimeSpan(
            _newInfractionMonths,
            _newInfractionDays,
            _newInfractionHours,
            _newInfractionMinutes,
            _newInfractionSeconds);

        try
        {
            var currentUser = await DiscordUserService.GetCurrentUserAsync();
            await ModerationService.CreateInfractionAsync(currentUser!.Guild.Id, currentUser.Id, _infractionType, _selectedUser!.UserId, _infractionReason!, duration);
        }
        catch (InvalidOperationException ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
            return;
        }


        Snackbar.Add($"Added infraction for user {_selectedUser!.Name}", Severity.Success);

        _selectedUser = null;
        _newInfractionMonths = null;
        _newInfractionDays = null;
        _newInfractionHours = null;
        _newInfractionMinutes = null;
        _newInfractionSeconds = null;
        _infractionReason = null;

        await TableRef.ReloadServerData();

        TimeSpan? GetTimeSpan(int? months, int? days, int? hours, int? minutes, int? seconds)
        {
            if (months is null
                && days is null
                && hours is null
                && minutes is null
                && seconds is null)
                return null;

            var now = DateTimeOffset.UtcNow;
            var daysInMonth = DateTime.DaysInMonth(now.Year, now.Month);

            var monthSpan = months is null
                ? TimeSpan.Zero
                : TimeSpan.FromDays(months.Value * daysInMonth);

            var daySpan = days is null
                ? TimeSpan.Zero
                : TimeSpan.FromDays(days.Value);

            var hourSpan = hours is null
                ? TimeSpan.Zero
                : TimeSpan.FromHours(hours.Value);

            var minuteSpan = minutes is null
                ? TimeSpan.Zero
                : TimeSpan.FromMinutes(minutes.Value);

            var secondSpan = seconds is null
                ? TimeSpan.Zero
                : TimeSpan.FromSeconds(seconds.Value);

            return monthSpan + daySpan + hourSpan + minuteSpan + secondSpan;
        }
    }

    private async Task Refresh() => await TableRef.ReloadServerData();

    private async Task<TableData<InfractionData>> LoadInfractions(TableState tableState)
    {
        var currentUser = await DiscordUserService.GetCurrentUserAsync();

        var sortingCriteria = new[]
        {
            new SortingCriteria()
            {
                PropertyName = tableState.SortLabel ?? nameof(InfractionData.Id),
                Direction = tableState.SortDirection == MudBlazor.SortDirection.Ascending
                    ? Data.Models.SortDirection.Ascending
                    : Data.Models.SortDirection.Descending,
            }
        };

        var Id = long.TryParse(_tableFilter.Id, out var id) ? id : (long?)null; 
        var Types = _tableFilter.Type is not null ? new[] { _tableFilter.Type.Value } : null;
        var Subject = ulong.TryParse(_tableFilter.Subject, out _) ? null : _tableFilter.Subject;
        var SubjectId = ulong.TryParse(_tableFilter.Subject, out var subjectSnowflake) ? subjectSnowflake : (ulong?)null;

        var Creator = ulong.TryParse(_tableFilter.Creator, out _) ? null : _tableFilter.Creator;
        var CreatedById = ulong.TryParse(_tableFilter.Creator, out var createdById) ? createdById : (ulong?)null;

        var searchCriteria = new InfractionSearchCriteria
        {
            GuildId = currentUser!.Guild.Id,
            Id = Id,
            Types = Types,
            Subject = Subject,
            SubjectId = SubjectId,
            Creator = Creator,
            CreatedById = CreatedById,
            IsDeleted = _tableFilter.ShowDeleted ? null : false
        };

        var pagingCriteria = new PagingCriteria
        {
            FirstRecordIndex = tableState.Page * tableState.PageSize,
            PageSize = tableState.PageSize,
        };

        var result = await ModerationService.SearchInfractionsAsync(
            searchCriteria,
            sortingCriteria,
            pagingCriteria);

        var outranksValues = new Dictionary<ulong, bool>();

        foreach (var (guildId, subjectId) in result.Records
            .Select(x => (guildId: x.GuildId, subjectId: x.Subject.Id))
            .Distinct())
        {
            outranksValues[subjectId]
                = await ModerationService.DoesModeratorOutrankUserAsync(guildId, currentUser.Id, subjectId);
        }

        var mapped = result.Records.Select(
            x => new InfractionData(
                    x.Id,
                    x.GuildId,
                    x.Type,
                    x.Reason,
                    x.Duration,
                    x.Subject,

                    x.CreateAction,
                    x.RescindAction,
                    x.DeleteAction,

                    x.RescindAction is null
                            && x.DeleteAction is null
                            && (x.Type == InfractionType.Mute || x.Type == InfractionType.Ban)
                            && outranksValues[x.Subject.Id],

                    x.DeleteAction is null
                        && outranksValues[x.Subject.Id]
                    )
                ).ToArray();

        return new TableData<InfractionData>
        {
            Items = mapped,
            TotalItems = mapped.Length
        };
    }

    public record InfractionData(
        long Id,
        ulong GuildId,
        InfractionType Type,
        string Reason,
        TimeSpan? Duration,
        GuildUserBrief Subject,
        ModerationActionBrief CreateAction,
        ModerationActionBrief? RescindAction,
        ModerationActionBrief? DeleteAction,
        bool CanBeRescind,
        bool CanBeDeleted
    );
}
